@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&family=Yellowtail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
    background-image: url('/images/mq.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}